{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Produtos</h1>
    
    <ul>
    {% for produto in produtos %}
        <li>{{ produto.nome }} {{ produto.descricao }} {{ produto.preco }} >>> Criado/Modificado em: {{ produto.datahora }}</li>
    {% endfor %}
    </ul>

    <script src="{% static 'app.js' %}"></script>
</body>
</html>